.resumo-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    .pendente {
      color: #cc0000;
      font-weight: bold;
    }
  
    .recebida {
      color: #00aa00;
      font-weight: bold;
    }
  }
  